#setting_top_color .format-setting-wrap,
#setting_menubar_color .format-setting-wrap,
#setting_header_color .format-setting-wrap,
#setting_offcanvas_color .format-setting-wrap,
#setting_footer_color .format-setting-wrap,
#setting_widgets_color .format-setting-wrap,
#setting_general_color .format-setting-wrap,
#setting_single_service .format-setting-wrap,
#setting_service_page .format-setting-wrap,
#setting_single_testimonial .format-setting-wrap,
#setting_single_member .format-setting-wrap,
#setting_archive_page .format-setting-wrap,
#setting_blog_page .format-setting-wrap,
#setting_front_page .format-setting-wrap,
#setting_single_page .format-setting-wrap,
#setting_single_post .format-setting-wrap {
  padding: 10px 0 0 0;
}

#setting_top_color .format-setting-label,
#setting_menubar_color .format-setting-label,
#setting_header_color .format-setting-label,
#setting_offcanvas_color .format-setting-label,
#setting_footer_color .format-setting-label,
#setting_widgets_color .format-setting-label,
#setting_general_color .format-setting-label,
#setting_single_service .format-setting-label,
#setting_service_page .format-setting-label,
#setting_single_testimonial .format-setting-label,
#setting_single_member .format-setting-label,
#setting_archive_page .format-setting-label,
#setting_blog_page .format-setting-label,
#setting_front_page .format-setting-label,
#setting_single_page .format-setting-label,
#setting_single_post .format-setting-label {
  margin: 0;
  border-bottom: 2px solid #00a0d2;
}

#option-tree-settings-api #setting_top_color .format-setting-label .label, 
#poststuff #setting_top_service .format-setting-label .label,
#option-tree-settings-api #setting_menubar_color .format-setting-label .label, 
#poststuff #setting_menubar_service .format-setting-label .label,
#option-tree-settings-api #setting_header_color .format-setting-label .label, 
#poststuff #setting_header_service .format-setting-label .label,
#option-tree-settings-api #setting_offcanvas_color .format-setting-label .label, 
#poststuff #setting_offcanvas_service .format-setting-label .label,
#option-tree-settings-api #setting_footer_color .format-setting-label .label, 
#poststuff #setting_footer_service .format-setting-label .label,
#option-tree-settings-api #setting_widgets_color .format-setting-label .label, 
#poststuff #setting_widgets_service .format-setting-label .label,
#option-tree-settings-api #setting_general_color .format-setting-label .label, 
#poststuff #setting_general_service .format-setting-label .label,
#option-tree-settings-api #setting_single_service .format-setting-label .label, 
#poststuff #setting_single_service .format-setting-label .label,
#option-tree-settings-api #setting_service_page .format-setting-label .label, 
#poststuff #setting_service_page .format-setting-label .label,
#option-tree-settings-api #setting_single_testimonial .format-setting-label .label, 
#poststuff #setting_single_testimonial .format-setting-label .label,
#option-tree-settings-api #setting_single_member .format-setting-label .label, 
#poststuff #setting_single_member .format-setting-label .label,
#option-tree-settings-api #setting_archive_page .format-setting-label .label, 
#poststuff #setting_archive_page .format-setting-label .label,
#option-tree-settings-api #setting_blog_page .format-setting-label .label, 
#poststuff #setting_blog_page .format-setting-label .label,
#option-tree-settings-api #setting_front_page .format-setting-label .label, 
#poststuff #setting_front_page .format-setting-label .label,
#option-tree-settings-api #setting_single_page .format-setting-label .label, 
#poststuff #setting_single_page .format-setting-label .label,
#option-tree-settings-api #setting_single_post .format-setting-label .label, 
#poststuff #setting_single_post .format-setting-label .label {
  text-transform: uppercase;
  text-align: center;
}